body {
    background-color: rgb(23, 28, 29);
    color: rgb(228, 235, 239);
    font-family: sans-serif;
}

a {
    color: #70caff;
}

.center {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}